@font-face {
  font-family: robo;
  src: url(fonts/RobotoCondensed-Regular.ttf);
}

body{
  background-color: #B0C4DE;
}

.carders{
  color: white;
  background-color: darkblue;
  border-radius: 1em;
}

.btn{
  background-color: darkblue;
  color:white;
}

#logo{
  max-width: 40%;
  margin-top: 40px;
  margin-bottom: 20px;
}
#menu{
  background-color: #fff;
  padding: 10px;
}

#menu .nav-link.active{
  background-color: #B0C4DE;
  color:#fff;
} 

#menu .nav-link{
  background-color: 	#00008B;
  color: #fff;
  text-transform: uppercase !important;
  font-family: robo;
} 
#menu .nav-link.active:hover{
  color: black;
  transition: all 0.3s;
} 

#menu .nav-link:hover{
  color: black;
  transition: all 0.3s;
} 

.table-responsive{
      width: 100%;
      margin: auto;  
      display: inline-block;
} 
